openapi: 3.0.3
info:
  title: Microsoft Office Integration Microsoft Office 365 Management Activity CurrentStatus Services API
  description: The Office 365 Management Activity API provides information about various user, admin, system, and policy actions and events from Office 365 and Microsoft Entra activity logs. Customers and partners can use this information to create new or enhance existing operations, security, and compliance-monitoring solutions for the enterprise. The API relies on Microsoft Entra ID and the OAuth2 protocol for authentication and authorization.
  version: 1.0.0
  contact:
    name: Microsoft
    url: https://learn.microsoft.com/en-us/office/office-365-management-api/office-365-management-activity-api-reference
servers:
- url: https://manage.office.com/api/v1.0/{tenantId}/activity/feed
  description: Enterprise plan
  variables:
    tenantId:
      description: The GUID of the tenant
      default: '{tenant_id}'
- url: https://manage-gcc.office.com/api/v1.0/{tenantId}/activity/feed
  description: GCC government plan
  variables:
    tenantId:
      description: The GUID of the tenant
      default: '{tenant_id}'
- url: https://manage.office365.us/api/v1.0/{tenantId}/activity/feed
  description: GCC High government plan
  variables:
    tenantId:
      description: The GUID of the tenant
      default: '{tenant_id}'
- url: https://manage.protection.apps.mil/api/v1.0/{tenantId}/activity/feed
  description: DoD government plan
  variables:
    tenantId:
      description: The GUID of the tenant
      default: '{tenant_id}'
security:
- bearerAuth: []
tags:
- name: Services
paths:
  /Services:
    get:
      operationId: getServices
      summary: Microsoft Office Integration Get Services
      description: Returns the list of subscribed services.
      parameters:
      - name: $select
        in: query
        required: false
        description: Pick a subset of properties.
        schema:
          type: string
      responses:
        '200':
          description: List of subscribed services.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/Service'
      tags:
      - Services
components:
  schemas:
    Service:
      type: object
      properties:
        Id:
          type: string
          description: The service identifier.
        DisplayName:
          type: string
          description: The display name of the service.
        FeatureNames:
          type: array
          description: List of features for the service.
          items:
            type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth2 JWT access token obtained from Microsoft Entra ID with ActivityFeed.Read claim.
