openapi: 3.0.3
info:
  title: Microsoft Office Integration Microsoft Office 365 Management Activity CurrentStatus Messages API
  description: The Office 365 Management Activity API provides information about various user, admin, system, and policy actions and events from Office 365 and Microsoft Entra activity logs. Customers and partners can use this information to create new or enhance existing operations, security, and compliance-monitoring solutions for the enterprise. The API relies on Microsoft Entra ID and the OAuth2 protocol for authentication and authorization.
  version: 1.0.0
  contact:
    name: Microsoft
    url: https://learn.microsoft.com/en-us/office/office-365-management-api/office-365-management-activity-api-reference
servers:
- url: https://manage.office.com/api/v1.0/{tenantId}/activity/feed
  description: Enterprise plan
  variables:
    tenantId:
      description: The GUID of the tenant
      default: '{tenant_id}'
- url: https://manage-gcc.office.com/api/v1.0/{tenantId}/activity/feed
  description: GCC government plan
  variables:
    tenantId:
      description: The GUID of the tenant
      default: '{tenant_id}'
- url: https://manage.office365.us/api/v1.0/{tenantId}/activity/feed
  description: GCC High government plan
  variables:
    tenantId:
      description: The GUID of the tenant
      default: '{tenant_id}'
- url: https://manage.protection.apps.mil/api/v1.0/{tenantId}/activity/feed
  description: DoD government plan
  variables:
    tenantId:
      description: The GUID of the tenant
      default: '{tenant_id}'
security:
- bearerAuth: []
tags:
- name: Messages
paths:
  /Messages:
    get:
      operationId: getMessages
      summary: Microsoft Office Integration Get Messages
      description: Returns messages about the service over a certain time range. Use the MessageType filter to filter for Service Incident, Planned Maintenance, or Message Center messages.
      parameters:
      - name: Workload
        in: query
        required: false
        description: Filter by workload (default is all).
        schema:
          type: string
      - name: StartTime
        in: query
        required: false
        description: Filter by start time (default ge CurrentTime - 7 days).
        schema:
          type: string
          format: date-time
      - name: EndTime
        in: query
        required: false
        description: Filter by end time (default le CurrentTime).
        schema:
          type: string
          format: date-time
      - name: MessageType
        in: query
        required: false
        description: Filter by message type (default is all).
        schema:
          type: string
          enum:
          - Incident
          - PlannedMaintenance
          - MessageCenter
      - name: Id
        in: query
        required: false
        description: Filter by specific message Id.
        schema:
          type: string
      - name: $select
        in: query
        required: false
        description: Pick a subset of properties.
        schema:
          type: string
      - name: $top
        in: query
        required: false
        description: Number of top results to return (default and max 100).
        schema:
          type: integer
          maximum: 100
          default: 100
      - name: $skip
        in: query
        required: false
        description: Number of results to skip (default 0).
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: List of service messages.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/Message'
      tags:
      - Messages
components:
  schemas:
    MessageHistory:
      type: object
      properties:
        PublishedTime:
          type: string
          format: date-time
        MessageText:
          type: string
    Message:
      type: object
      properties:
        Id:
          type: string
        Name:
          type: string
        Title:
          type: string
          nullable: true
        StartTime:
          type: string
          format: date-time
        EndTime:
          type: string
          format: date-time
        Status:
          type: string
        Messages:
          type: array
          items:
            $ref: '#/components/schemas/MessageHistory'
        LastUpdatedTime:
          type: string
          format: date-time
        Workload:
          type: string
        WorkloadDisplayName:
          type: string
        Feature:
          type: string
        FeatureDisplayName:
          type: string
        MessageType:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth2 JWT access token obtained from Microsoft Entra ID with ActivityFeed.Read claim.
